@tailwind base;

@tailwind components;

@tailwind utilities;

body,
html {
  background: #edf2f6;
  height: 100%;
  width: 100%;
}

h1 {
  @apply text-3xl mb-5 font-bold;
}
h2 {
  @apply text-xl mb-3;
}
h3 {
  @apply text-lg mb-1;
}
a {
  @apply text-blue-600 underline;
}
.btn {
  @apply font-bold no-underline py-2 px-4 rounded;
}
.btn-blue {
  @apply bg-blue-500 text-white;
}
.btn-blue:hover {
  @apply bg-blue-700;
}
.btn-red {
  @apply bg-red-500 text-white;
}
.btn-red:hover {
  @apply bg-red-700;
}
.btn-yellow {
  @apply bg-yellow-500 text-white;
}
.btn-yellow:hover {
  @apply bg-yellow-700;
}
.btn-green {
  @apply bg-green-500 text-white;
}
.btn-green:hover {
  @apply bg-green-700;
}
.btn-gray {
  @apply bg-gray-300 text-gray-700;
}
.btn-gray:hover {
  @apply bg-gray-700 text-white;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

a.router-link-exact-active {
  @apply text-blue-500 !important;
}
